<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="root">
  <div class="box">
     <div class="container">
            <div class="top-header">
                <span>Welcome to</span>
                <header>Signup</header>
            </div>
            <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="input-field">
                <input formControlName="fullname" type="text"class="input"id="user" placeholder="Full Name">
                <i class="fa-sharp fa-solid fa-user"></i>
            </div>
            <div class="input-field">
                <input formControlName="password" type="password"class="input" id="pass" placeholder="Password">
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="input-field">
              <input formControlName="email" type="text"class="input" id="email" placeholder="email">

          </div>

            <div class="bottom">
                <div class="left">
                    <input type="checkbox" id="check">
                    <label for="check">Remember Me</label>
                </div>
                <div class="input-field">
                <input type="submit"class="submit" id="log" value="Signup"  required>
            </div>
        </div>
        <div class="right">
          <div class="bottom-footer">
            <span>Already a User! Click to</span>
            <div class="log">
              <a routerLink="/login" href="#">Login</a>
            </div>
  </div>
</div>
</form>

