<!-- <p>main-view works!</p> -->
<div class="root">
    <div class="navbar has-background-dark">
        <div class="navnar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban</h1>

            </div>
        </div>
    </div>


    <div class="board">
        <div class="board-bar">
            <p class="board-name">Board Name</p>
            <!-- old model input function -->
            <!-- <input [(ngModel)]="newTask" type="text" value="" class="" style="width:300px; align-items: flex-end;">
            <button (click)="addToList()" class="btn btn-light text-success">
                ADD TASK
            </button> -->

        </div>
        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <!-- research colum area -->
                <div class="board-column">
                    <div class="column-title">Todo
                        <!-- buttion to add next to todo -->
                        <!-- <button (click)="addToListButton()" class="button is-primary is-small"
                            style="margin-left:180px ;">+</button> -->

                        <!-- popup button -->
                        <!-- <app-dialog-body [fromMainViesList]="todo"></app-dialog-body> -->
                        <!-- <mat-dialog-actions > -->
                            
                            <button (click)="openDialog()" >hello</button>
                        <!-- </mat-dialog-actions> -->
                        <button color="primary" (click)="addToListButton()" class="button is-primary is-small"
                                style="margin-left:180px ;">+</button>

                    </div>
                    <div class="tast-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of todo; let index=index;" cdkDrag>{{item}}
                            <div class="hoverButton" style="margin-left:auto">
                                <!-- button for deleting task -->
                                <button (click)="deleteTask(index)"
                                    class="button is-right is-danger is-small ">delete</button>
                                <!-- style="margin-left: auto; margin-bottom: 2px;" -->
                                <!-- toedit task -->
                                <button (click)="editTaskTodo(index)" class="button is-primary is-small"
                                    style="margin-left: 5px;">edit</button>
                                <!-- style="margin-left:5px; -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- research colum area -->
                <div class="board-column">
                    <div class="column-title">Research</div>
                    <div class="task-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="research"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of research" cdkDrag>{{item}}
                        </div>
                    </div>
                </div>
                <!-- progress column area -->
                <div class="board-column">
                    <div class="column-title">InProgress</div>
                    <div class="task-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="inprogress"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of inprogress" cdkDrag>{{item}}
                        </div>
                    </div>
                </div>
                <!-- done column area -->
                <div class="board-column">
                    <div class="column-title">Done</div>
                    <div class="task-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="done"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of done" cdkDrag>{{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>