<button mat-icon-button style="float: right; margin: 5px;" mat-dialog-close="">
    <mat-icon>close</mat-icon>
</button>
<!-- <mat-dialog-content> -->
<header>
    <h1 style="">Event Entry</h1>
</header>
<p>
    <mat-form-field><input [(ngModel)]="onSaveVariable" matInput place="text" name="text" placeholder="Name">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <!-- <input type="text" style="padding-left: 50px;" value="" name=""> -->
</p>
<!-- </mat-dialog-content> -->
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="" (click)="sendMessage()">save</button>
    <button mat-raised-button color="warn" mat-dialog-close="">cancel
    </button>
</mat-dialog-actions>
<!-- data.name -->