<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <p>main-view works!</p> -->
<div class="root">
  <div class="navbar has-background-dark">
      <div class="navnar-brand">
          <div class="navbar-item">
              <h1 class="app-name has-gradient-text">Event </h1>
          </div>
      </div>
  </div>

  <div class="board">
      <div class="board-bar" style="position: center;">
          <p class="board-name" style="padding: 0 625px;">TODO</p>
          
          <input placeholder="Enter Your Tasks Here" [(ngModel)]="newTask" type="text"  class="" style="margin: 0 auto;
          margin-left: auto;
          margin-right: auto;width:300px; align-items: flex-end; display: flex; align-self: center; border-radius:25px;">
      </div>
      <div class="board-wrapper">
          <div class="board-columns" cdkDropListGroup>
              <div class="board-column">
                
                  <div class="column-title">Todo
                    <ol>
                        <li>
                          <mat-form-field>
                            <input matInput [(ngModel)]="name" placeholder="What's your name?">
                          </mat-form-field>
                        </li>
                        <li>
                          <button mat-raised-button (click)="openDialog()">Pick one</button>
                        </li>
                        <li *ngIf="animal">
                          You chose: <i>{{animal}}</i>
                        </li>
                      </ol>
                    <input placeholder="Enter Your Name Here" [(ngModel)]="newTodoName" type="text"  class="" style="margin: 0 auto;
          margin-left: auto;
          margin-right: auto;width:300px; align-items: flex-end; display: flex; align-self: center; border-radius:25px;">
                <button (click)="addTotodo()" class="btn btn-light text-success" >+</button>  
                </div>
                  
                  
                  <div class="tast-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                      (cdkDropListDropped)="drop($event)">
                      <div class="task" *ngFor="let item of todo; let index=index;" cdkDrag>
                        <i class="fa fa-user" (click)="TodoName()" aria-hidden="true" ></i>
                        {{item}}
                     <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datetimepicker>
                              <i (click)="deletetodo(index)" type="button" value="d" class='fa-solid fa-trash-can' id="delete" style="margin-left: auto; display: block;"></i>
                              <i class='fas fa-pen' (click)="edittodo(index)" id="edit"></i>
                               <div class="name" *ngFor="let items of todoname">
                                {{items}}
                              </div>   
                      </div>
                  </div>
              </div>
              <div class="board-column">
                  <div class="column-title">Research
                    <input placeholder="Enter Your Name Here" [(ngModel)]="newResearchName" type="text"  class="" style="margin: 0 auto;
          margin-left: auto;
          margin-right: auto;width:300px; align-items: flex-end; display: flex; align-self: center; border-radius:25px;">
                 <button (click)="addToresearch()" class="btn btn-light text-success">+</button>  
                </div>
                  
                 
                  <div class="task-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="research"
                      (cdkDropListDropped)="drop($event)">
                      <div class="task" *ngFor="let item of research; let index=index;" cdkDrag>
                        <i class="fa fa-user" (click)="ResearchName()" aria-hidden="true" ></i>
                        {{item}}
                        <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datetimepicker>
                          <i (click)="deleteresearch(index)" type="button" value="d" class='fa-solid fa-trash-can' id="delete" style="margin-left: auto; display: block;"></i>
                          <i class='fas fa-pen' (click)="editresearch(index)" id="edit" ></i>
                          <div class="name" *ngFor="let items of researchname">
                            {{items}}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="board-column">
                <div class="column-title">InProgress
                    <input placeholder="Enter Your Name Here" [(ngModel)]="newInprogressName" type="text"  class="" style="margin: 0 auto;
          margin-left: auto;
          margin-right: auto;width:300px; align-items: flex-end; display: flex; align-self: center; border-radius:25px;">
            <button (click)="addToinprogress()" class="btn btn-light text-success">+</button>    
            </div>
                 

                
                <div class="task-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="inprogress"
                    (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of inprogress; let index=index;" cdkDrag>
                        <i class="fa fa-user" (click)="InprogressName()" aria-hidden="true" ></i>
                        {{item}}
                        <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datetimepicker>
                        <i (click)="deleteinprogress(index)" type="button" value="d" class='fa-solid fa-trash-can' id="delete" style="margin-left: auto; display: block;"></i>
                        <i class='fas fa-pen' (click)="editinprogress(index)" id="edit" ></i>
                        <div class="name" *ngFor="let items of inprogressname">
                            {{items}}
                          </div>
                    </div>
                </div>
            </div>
            <div class="board-column">
              <div class="column-title">Done
                <input placeholder="Enter Your Name Here" [(ngModel)]="newDoneName" type="text"  class="" style="margin: 0 auto;
          margin-left: auto;
          margin-right: auto;width:300px; align-items: flex-end; display: flex; align-self: center; border-radius:25px;">
            <button (click)="addTodone()" class="btn btn-light text-success">+</button>  
            </div>

              
              <div class="task-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="done"
                  (cdkDropListDropped)="drop($event)">
                  <div class="task" *ngFor="let item of done; let index=index;" cdkDrag>
                    <i class="fa fa-user" (click)="DoneName()" aria-hidden="true" ></i>
                      {{item}}
                    <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datetimepicker>
                    <i (click)="deletedone(index)" type="button" value="d" class='fa-solid fa-trash-can' id="delete" style="margin-left: auto; display: block;"></i> 
                    <i class='fas fa-pen' (click)="editdone(index)" id="edit" ></i>   
                    <div class="name" *ngFor="let items of donename">
                        {{items}}
                    </div> 
                  </div>
              </div>
          </div>           
          </div>
      </div>
  </div>
</div>
<style>
</style>