// global styles and changing bulma variables

// Import google fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's compomemt variables.
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* GLOBAL STYLES */
html,
body {
  height: 100%;
}

html {
  background-color: #ffff8f;
}
