//global style and changing bulma variable 
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');
$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// GLOBAL STYLES
html,
body {
    height: 100%;
}

html,
body {
    height: 100%;
    
    background-color: #403E3E;
}

html {
    // background-image: url('./assets/liquid-cheese\ \(1\).svg');
    background-size: cover;
    // color: #403E3E;
    overflow-y: auto !important;
}